body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tabuleiro{
   display: grid;
   grid-template-columns: repeat(3,100px);
   gap: 10px; 
}
.celula{
    display: flex;
    background-color: rgb(255, 231, 247);
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
}
#botaoReiniciar{
    margin-top: 20px;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(195, 247, 210);
}